name: Test build script

on:
  push:
    paths:
      - 'scripts/build-docs.ts'
      - 'scripts/build-docs.test.ts'
      - 'scripts/lib/**'

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - run: pnpm i
      - run: pnpm run test
